<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block head %}{% endblock %}
    <title>Task Manageer</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body style="background-color:rgb(44, 44, 44); color: rgb(179, 178, 178);">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Task Manageer</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/front/pages/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/front/pages/current_user">Account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/front/pages/team">Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/front/pages/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/front/pages/signup">Signup</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/front/pages/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>