<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block head %}{% endblock %}
    <title>Task Manageer</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body style="background-color:rgb(44, 44, 44); color: rgb(179, 178, 178);">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Task Manageer</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item {% block nav_home %}{% endblock %}">
                    <a class="nav-link" href="/front/pages/home">Home</a>
                </li>
                {% if logged_in %}
                <li class="nav-item {% block nav_account %}{% endblock %}">
                    <a class="nav-link" href="/front/pages/account">Account</a>
                </li>
                <li class="nav-item {% block nav_users %}{% endblock %}">
                    <a class="nav-link" href="/front/pages/user/all">Users</a>
                </li>
                <li class="nav-item {% block nav_teams %}{% endblock %}">
                    <a class="nav-link" href="/front/pages/team/all">Teams</a>
                </li>
                <li class="nav-item {% block nav_projects %}{% endblock %}">
                    <a class="nav-link" href="/front/pages/project/all">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/front/pages/logout">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/front/pages/signup">Signup</a>
                </li>
                <li>
                    <a class="nav-link" href="/front/pages/login">Login</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>