{% extends "base.html" %}

{% block nav_dialogs %}active{% endblock %}

{% block head %}
<link href="{{ url_for('static', path='/css/dialogs_style.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}
<title>Dialogs</title>
{% endblock %}

{% block content %}

    <div class="container py-5 px-4">
        <div class="row rounded-lg overflow-hidden shadow">
            {% if dialogs %}
                <div class="col-5 px-0">
                    <div class="bg-white">
                        <div class="bg-gray px-4 py-2 bg-light">
                            <p class="h5 mb-0 py-1">Диалоги</p>
                        </div>
                        <div class="messages-box">
                            <div class="list-group rounded-0">
                                {% for dialog in dialogs %}
                                    <a href="#" onclick="showMessages('{{ dialog.id }}')" class="list-group-item list-group-item-action list-group-item-light rounded-0">
                                        <div class="media">
                                            <img src="{{ url_for('static', path='/profileimages/' + dialog.messages[0].sender.avatar_url) }}" alt="user" width="50" class="rounded-circle">
                                            <div class="media-body ml-4">
                                                <div class="d-flex align-items-center justify-content-between mb-1">
                                                    <h6 class="mb-0">{{ dialog.messages[0].sender.first_name }} {{ dialog.messages[0].sender.last_name }}</h6>
                                                    <small class="small font-weight-bold">{{ dialog.messages[0].send_at }}</small>
                                                </div>
                                                <p class="font-italic text-muted mb-0 text-small">{{ dialog.messages[-1].content }}</p>
                                            </div>
                                        </div>
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="col-7 px-0">
                <div class="px-4 py-5 chat-box bg-white" id="chat-box">
                </div>
                <form class="bg-light" action="" onsubmit="sendMessage(event)">
                    <div class="input-group">
                        <input id="messageText" type="text" placeholder="Type a message" aria-describedby="button-addon2" class="form-control rounded-0 border-0 py-4 bg-light">
                        <p hidden id="current_dialog_id"></p>
                        <div class="input-group-append">
                            <button id="button-addon2" type="submit" class="btn btn-link"> <i class="fa fa-paper-plane"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        let current_user = {{ user | tojson | safe }};
        let ws;

        // let user_id = current_user.id;
        // let dialog_id = document.getElementById("current_dialog_id").value;
        // console.log("user_id: ", user_id)
        // console.log("dialog_id: ", dialog_id)

        // let ws = new WebSocket(`ws://localhost:8000/api/v1/chat/ws/${dialog_id}/${user_id}`);
        // ws.onmessage = function(event) {
        //     let messagesDiv = document.getElementById("chat-box");
        //     let messageContent = document.createElement('div');
        //     let messageTime = document.createElement('p');
        //     let mediaBody = document.createElement('div');

        //     mediaBody.className = 'media-body ml-3';
        //     messageContent.className = 'bg-light rounded py-2 px-3 mb-2';
        //     messageContent.innerHTML = '<p class="text-small mb-0 text-muted">' + event.data + '</p>';
        //     messageDiv.className += ' ml-auto';
        //     messageContent.className = 'bg-primary rounded py-2 px-3 mb-2';
        //     messageContent.innerHTML = '<p class="text-small mb-0 text-white">' + event.data + '</p>';
        //     messageTime.className = 'small text-muted';
        //     messageTime.innerHTML = new Date().toISOString().slice(0, 19).replace("T", " ");

        //     mediaBody.appendChild(messageContent);
        //     mediaBody.appendChild(messageTime);
        //     messageDiv.appendChild(mediaBody);
        //     messagesDiv.appendChild(messageDiv);
        // };

        function sendMessage(event) {
            let input = document.getElementById("messageText");
            ws.send(input.value);
            input.value = '';
            event.preventDefault();
        }


        function showMessages(dialogId) {
            // Прокидываем id текущего диалога в скрытый элемент
            // let p = document.getElementById("current_dialog_id")
            // p.innerText = dialogId
            let user_id = current_user.id;
            let dialog_id = dialogId;

            ws = new WebSocket(`ws://localhost:8000/api/v1/chat/ws/${dialog_id}/${user_id}`);
            ws.onmessage = function(event) {
                let messageDiv = document.createElement('div');
                let messageContent = document.createElement('div');
                let messageTime = document.createElement('p');
                let mediaBody = document.createElement('div');

                messageDiv.className = 'media w-50 mb-3';
                mediaBody.className = 'media-body ml-3';
                messageContent.className = 'bg-light rounded py-2 px-3 mb-2';
                messageContent.innerHTML = '<p class="text-small mb-0 text-muted">' + event.data + '</p>';
                messageDiv.className += ' ml-auto';
                messageContent.className = 'bg-primary rounded py-2 px-3 mb-2';
                messageContent.innerHTML = '<p class="text-small mb-0 text-white">' + event.data + '</p>';
                messageTime.className = 'small text-muted';
                messageTime.innerHTML = new Date().toISOString().slice(0, 19).replace("T", " ");

                mediaBody.appendChild(messageContent);
                mediaBody.appendChild(messageTime);
                messageDiv.appendChild(mediaBody);
                messagesDiv.appendChild(messageDiv);
            };



            let messagesDiv = document.getElementById("chat-box");
            messagesDiv.innerHTML = ''; // Clear previous messages
            let dialogs = {{ dialogs | tojson | safe }};
            let selectedDialog = dialogs.find(function(dialog) {
                return dialog.id === dialogId;
            });
            let selectedMessages = selectedDialog.messages;

            for (let i = 0; i < selectedMessages.length; i++) {
                let message = selectedMessages[i];
                let messageDiv = document.createElement('div');
                messageDiv.className = 'media w-50 mb-3';
                let mediaBody = document.createElement('div');
                mediaBody.className = 'media-body ml-3';
                let messageContent = document.createElement('div');
                messageContent.className = 'bg-light rounded py-2 px-3 mb-2';
                if (message.sender.id === current_user.id) {
                    messageContent.innerHTML = '<p class="text-small mb-0 text-muted">' + message.content + '</p>';
                    messageDiv.className += ' ml-auto';
                    messageContent.className = 'bg-primary rounded py-2 px-3 mb-2';
                    messageContent.innerHTML = '<p class="text-small mb-0 text-white">' + message.content + '</p>';
                } else {
                    messageContent.innerHTML = '<p class="text-small mb-0 text-muted">' + message.content + '</p>';
                }
                let messageTime = document.createElement('p');
                messageTime.className = 'small text-muted';
                messageTime.innerHTML = message.send_at;
                mediaBody.appendChild(messageContent);
                mediaBody.appendChild(messageTime);
                messageDiv.appendChild(mediaBody);
                messagesDiv.appendChild(messageDiv);
            };
        };
    </script>
{% endblock %}