{% extends "base.html" %}

{% block nav_home %}active{% endblock %}

{% block title %}
<title>Home page</title>
{% endblock %}


{% block content %}

<div class="p-5">
    <h5 class="font-monospace"><b>Task Manageer</b> - это инструмент для управления задачами с возможностью отслеживания статуса, приоритета и сроков выполнения задач.</h5>
    <br>
    <div class="text-center">
    {% if user %}
        <a class="btn btn-primary" href="/front/pages/account" role="button">Your account</a>
    {% else %}
        <a class="btn btn-primary" href="/front/pages/signup" role="button">Register</a>
    {% endif %}
    <a class="btn btn-dark" href="https://github.com/vebulogmetra/task_manageer" role="button">Github</a>
    </div>
</div>

{% endblock %}