{% extends "base.html" %}

{% block nav_home %}active{% endblock %}

{% block content %}

{% block title %}
<title>Home page</title>
{% endblock %}
<h1>Home page 🏡</h1>

<p>Welcome to the home page.</p>

{% if user %}
    <h2>You are logged in :)</h2>
    <p>You can go to your account <a href="/front/pages/account">Account</a>!</p>
{% else %}
    <h2>You are not logged in :(</h2>
    <p>
    Please follow the link to <a href="/front/pages/login">Login</a>!
    </p>
{% endif %}
{% endblock %}

<hr>