{% extends "base.html" %}

{% block head %}
<link href="{{ url_for('static', path='/css/project_style.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}

{% if projects %}
<div class="row">
{% for project in projects %}
  <div class="col-md-3">
    <div class="card text-dark bg-light mb-3 mt-3" style="max-width: 30rem;">
      <div class="card-header"><a href="/front/pages/project/{{ project.id }}">{{ project.title }}</a></div>
      <div class="card-body">
        <p class="card-text">{{ project.description }}</p>
        <hr>
        <p class="card-text">Assigned developers:</p>
        <ul class="text-reset list-unstyled d-flex flex-wrap">
          {% for user in project.users %}
          <li class="m-2"><a href="/front/pages/user/{{ user.id }}" class="btn btn-outline-info btn-sm" role="button" aria-pressed="true">{{ user.username }}</a></li>
          {% endfor %}
        </ul>
        <hr>
        <a href="#" class="btn btn-dark" role="button" aria-pressed="true">Add developer</a>
      </div>
    </div>
  </div>
{% endfor %}
</div>
{% endif %}

{% if project %}
<!-- <div class="card text-dark bg-light mb-3 mt-3" style="max-width: 30rem;">
  <div class="card-header">{{ project.title }}</div>
  <div class="card-body">
    <p class="card-text">{{ project.description }}</p>
    <hr>
    <p class="card-text">Assigned developers:</p>
    <ul class="text-reset list-unstyled d-flex flex-wrap">
      {% for user in project.users %}
      <li class="m-2"><a href="/front/pages/user/{{ user.id }}" class="btn btn-outline-info btn-sm" role="button" aria-pressed="true">{{ user.username }}</a></li>
      {% endfor %}
    </ul>
    <hr>
    <a href="#" class="btn btn-dark" role="button" aria-pressed="true">Add developer</a>
  </div>
</div> -->

<section class="mt-3" style="background-color: #d1d1d1;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card mb-5" style="border-radius: 15px;">
          <div class="card-body p-4">
            <h3 class="mb-3">Program Title</h3>
            <p class="small mb-0"><i class="far fa-star fa-lg"></i> <span class="mx-2">|</span> Created by
              <strong>MDBootstrap</strong> on 11 April , 2021</p>
            <hr class="my-4">
            <div class="d-flex justify-content-start align-items-center">
              <p class="mb-0 text-uppercase"><i class="fas fa-cog me-2"></i> <span
                  class="text-muted small">settings</span></p>
              <p class="mb-0 text-uppercase"><i class="fas fa-link ms-4 me-2"></i> <span
                  class="text-muted small">program link</span></p>
              <p class="mb-0 text-uppercase"><i class="fas fa-ellipsis-h ms-4 me-2"></i> <span
                  class="text-muted small">program link</span>
                <span class="ms-3 me-4">|</span></p>
              <a href="#!">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-2.webp" alt="avatar"
                  class="img-fluid rounded-circle me-3" width="35">
              </a>
              <button type="button" class="btn btn-outline-dark btn-sm btn-floating">
                <i class="fas fa-plus"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="card" style="border-radius: 15px;">
          <div class="card-body p-4">
            <h3 class="mb-3">Company Culture</h3>
            <p class="small mb-0"><i class="fas fa-star fa-lg text-warning"></i> <span class="mx-2">|</span>
              Public <span class="mx-2">|</span> Updated by <strong>MDBootstrap</strong> on 11 April , 2021
            </p>
            <hr class="my-4">
            <div class="d-flex justify-content-start align-items-center">
              <p class="mb-0 text-uppercase"><i class="fas fa-cog me-2"></i> <span
                  class="text-muted small">settings</span></p>
              <p class="mb-0 text-uppercase"><i class="fas fa-link ms-4 me-2"></i> <span
                  class="text-muted small">program link</span></p>
              <p class="mb-0 text-uppercase"><i class="fas fa-ellipsis-h ms-4 me-2"></i> <span
                  class="text-muted small">program link</span>
                <span class="ms-3 me-4">|</span></p>
              <a href="#!">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-2.webp" alt="avatar"
                  class="img-fluid rounded-circle me-1" width="35">
              </a>
              <a href="#!">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-3.webp" alt="avatar"
                  class="img-fluid rounded-circle me-1" width="35">
              </a>
              <a href="#!">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-4.webp" alt="avatar"
                  class="img-fluid rounded-circle me-1" width="35">
              </a>
              <a href="#!">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-5.webp" alt="avatar"
                  class="img-fluid rounded-circle me-3" width="35">
              </a>
              <button type="button" class="btn btn-outline-dark btn-sm btn-floating">
                <i class="fas fa-plus"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endif %}

{% endblock %}