{% extends "base.html" %}


{% block title %}
<title>SignUp</title>
{% endblock %}


{% block content %}

{% for error in errors %}
<div class="alert alert-danger">
    <li>{{error}}</li>
</div>
{% endfor %}
    <div class="row mt-3 mb-5">
        <div class="col-3"></div>
        <div class="col-6 p-3" style="background-color: #ffffff; border-radius: 10px;">
            {% for error in errors %}
            <p style="color: red">{{ error }}</p>
            {% endfor %}
            <form action="/front/pages/signup" method="POST">
                <label>Username</label>
                <input type="text" required  class="form-control mb-2" name="username" value="{{username}}" placeholder="Enter your username">

                <label>Email</label>
                <input type="email" required  class="form-control mb-2" name="email" value="{{email}}" placeholder="Enter your email">

                <label>FirstName</label>
                <input type="text" required  class="form-control mb-2" name="first_name" value="{{first_name}}" placeholder="Enter your first_name">

                <label>LastName</label>
                <input type="text" required  class="form-control mb-2" name="last_name" value="{{last_name}}" placeholder="Enter your last_name">

                <label>Position</label>
                <select class="form-control mb-2" name="position">
                    <option selected="Developer">Developer</option>
                    <option value="Product Owner">Product Owner</option>
                    <option value="Product Manager">Product Manager</option>
                    <option value="Project Manager">Project Manager</option>
                    <option value="Backend developer">Backend developer</option>
                    <option value="Frontend developer">Frontend developer</option>
                    <option value="IOS developer">IOS developer</option>
                    <option value="Android developer">Android developer</option>
                    <option value="Fullstack developer">Fullstack developer</option>
                    <option value="UX/UI Designer">UX/UI Designer</option>
                    <option value="DevOps Engineer">DevOps Engineer</option>
                    <option value="Systems Analyst">Systems Analyst</option>
                    <option value="Systems Architect">Systems Architect</option>
                    <option value="Database Administrator">Database Administrator</option>
                    <option value="Quality Assurance (QA)">Quality Assurance (QA)</option>
                </select>
                <label>Password</label>
                <input type="password" required placeholder="Enter your password" value="{{password}}" name="password" class="form-control mb-2">

                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-outline-success mt-3">Create account</button>
                  </div>
            </form>
        </div>
        <div class="col-3"></div>
    </div>

{% endblock %}