{% extends "base.html" %}

{% block head %}
<link href="{{ url_for('static', path='/css/team_style.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="row justify-content-center">
      <div class="col-12 col-sm-8 col-lg-6">
        <!-- Section Heading-->
        <div class="section_heading text-center wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
          <h3>Team title: <span>{{ team.title }}</span></h3>
          <p>Appland is completely creative, lightweight, clean &amp; super responsive app landing page.</p>
          <div class="line"></div>
        </div>
      </div>
    </div>
    <div class="row">
      {% for user in users %}
      <!-- Single Advisor-->
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
          <!-- User Thumb-->
          <div class="advisor_thumb"><img src="{{ url_for('static', path='/profileimages/default.png') }}" alt="">
          </div>
          <!-- Team Details-->
          <div class="single_advisor_details_info">
            <h6>Samantha Sarah</h6>
            <p class="designation">Founder &amp; CEO</p>
          </div>
        </div>
      </div>
      {% endfor %}
  {% endblock %}